
<h2>Search for Recipe</h2>
<style>
    h2 {
        color: #ff9900;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 400%;
    }
</style>
<form action="Home/Results">

    Search by Ingredient: <input type="text" name="i" align ="middle"/> <p></p>

    Search by Recipe: <input type="text" name="q" align ="middle"/> <p></p>

    <input type="submit" align ="middle"/>
</form>