
<h2>Search for Recipe</h2>

<form action="Results">

    Search by Ingredients: <input type="text" name="i" /> <p></p>

    Search by Keyword: <input type="text" name="q" /> <p></p>

    <input type="submit" />
</form>